**/.DS_Store
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

git/gitconfig.local.symlink
zsh/local.zsh

vim/vim.symlink/gutentags
vim/vim.symlink/bundle/ycm.vim

tmux/tmux.symlink/resurrect

node/nvm.symlink/
!node/nvm.symlink/.gitkeep
