[submodule "vim/vim.symlink/bundle/autoclose.vim"]
	path = vim/vim.symlink/bundle/autoclose.vim
	url = https://github.com/Townk/vim-autoclose
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/gitgutter.vim"]
	path = vim/vim.symlink/bundle/gitgutter.vim
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim.symlink/bundle/nerdtree.vim"]
	path = vim/vim.symlink/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim.symlink/bundle/surround.vim"]
	path = vim/vim.symlink/bundle/surround.vim
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim.symlink/bundle/ale.vim"]
	path = vim/vim.symlink/bundle/ale.vim
	url = https://github.com/w0rp/ale
[submodule "vim/vim.symlink/bundle/js-indent.vim"]
	path = vim/vim.symlink/bundle/js-indent.vim
	url = https://github.com/jason0x43/vim-js-indent
[submodule "vim/vim.symlink/bundle/js-pretty-template.vim"]
	path = vim/vim.symlink/bundle/js-pretty-template.vim
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule "vim/vim.symlink/bundle/typescript.vim"]
	path = vim/vim.symlink/bundle/typescript.vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/vim.symlink/bundle/javascript.vim"]
	path = vim/vim.symlink/bundle/javascript.vim
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/vim.symlink/bundle/airline.vim"]
	path = vim/vim.symlink/bundle/airline.vim
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim.symlink/bundle/airline-themes.vim"]
	path = vim/vim.symlink/bundle/airline-themes.vim
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/vim.symlink/bundle/ycm.vim"]
	path = vim/vim.symlink/bundle/ycm.vim
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/vim.symlink/bundle/markdown.vim"]
	path = vim/vim.symlink/bundle/markdown.vim
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "vim/vim.symlink/bundle/textobj-entire.vim"]
	path = vim/vim.symlink/bundle/textobj-entire.vim
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/vim.symlink/bundle/commentary.vim"]
	path = vim/vim.symlink/bundle/commentary.vim
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/textobj-user.vim"]
	path = vim/vim.symlink/bundle/textobj-user.vim
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/vim.symlink/bundle/nerdtree-git.vim"]
	path = vim/vim.symlink/bundle/nerdtree-git.vim
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/vim.symlink/bundle/sort-motion.vim"]
	path = vim/vim.symlink/bundle/sort-motion.vim
	url = https://github.com/christoomey/vim-sort-motion.git
[submodule "vim/vim.symlink/bundle/indent-object.vim"]
	path = vim/vim.symlink/bundle/indent-object.vim
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/vim.symlink/bundle/system-copy.vim"]
	path = vim/vim.symlink/bundle/system-copy.vim
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "vim/vim.symlink/bundle/gutentags.vim"]
	path = vim/vim.symlink/bundle/gutentags.vim
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/vim.symlink/bundle/textobj-comment.vim"]
	path = vim/vim.symlink/bundle/textobj-comment.vim
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "vim/vim.symlink/bundle/tmux-navigator.vim"]
	path = vim/vim.symlink/bundle/tmux-navigator.vim
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/vim.symlink/bundle/ultisnips.vim"]
	path = vim/vim.symlink/bundle/ultisnips.vim
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim.symlink/bundle/yats.vim"]
	path = vim/vim.symlink/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/vim.symlink/bundle/angular-snippets.vim"]
	path = vim/vim.symlink/bundle/angular-snippets.vim
	url = https://github.com/matthewsimo/angular-vim-snippets
[submodule "vim/vim.symlink/bundle/angular.vim"]
	path = vim/vim.symlink/bundle/angular.vim
	url = https://github.com/burnettk/vim-angular.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/vim.symlink/bundle/tmux-focus-events.vim"]
	path = vim/vim.symlink/bundle/tmux-focus-events.vim
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
