[submodule "vim/vim.symlink/bundle/js-indent.vim"]
	path = vim/vim.symlink/bundle/js-indent.vim
	url = https://github.com/jason0x43/vim-js-indent
[submodule "vim/vim.symlink/bundle/angular-snippets.vim"]
	path = vim/vim.symlink/bundle/angular-snippets.vim
	url = https://github.com/matthewsimo/angular-vim-snippets
[submodule "vim/vim.symlink/bundle/angular.vim"]
	path = vim/vim.symlink/bundle/angular.vim
	url = https://github.com/burnettk/vim-angular.git
