extends javascript

# TESTS {{{
snippet given "Given test step"
/* Given */ await utils().
endsnippet
snippet when "When test step"
/* When  */ await utils().
endsnippet
snippet then "Then test step"
/* Then  */ await utils().
endsnippet
snippet and "And test step"
/* And   */ await utils().
endsnippet
# }}}

# vim:foldmethod=marker:foldlevel=0
